.boarding-details-PDF {
  width: 595px;
  padding: 32px 40px;
  position: relative;
  background-color: #FFFFFF;
  color: #132968;
  font-family: "GT Walsheim Pro", Helvetica;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.boarding-details-PDF .logo-header {
  position: relative;
  width: 100%;
  margin: 0 0 16px 0;
  content: "";
  display: table;
  clear: both;
}

.boarding-details-PDF .logo-wrapper {
  position: relative;
  float: left;
  width: 50%;
  margin-left: -8px;
}

.boarding-details-PDF .logo {
  position: relative;
  width: 94.58px;
  height: 32px;
}

.boarding-details-PDF .path {
  position: absolute;
  width: 6px;
  height: 20px;
  top: 6px;
  left: 64px;
}

.boarding-details-PDF .shape {
  position: absolute;
  width: 22px;
  height: 21px;
  top: 6px;
  left: 72px;
}

.boarding-details-PDF .img {
  position: absolute;
  width: 30px;
  height: 21px;
  top: 6px;
  left: 31px;
}

.boarding-details-PDF .overlap-group {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 0;
  left: 0;
}

.boarding-details-PDF .shape-2 {
  position: absolute;
  width: 22px;
  height: 21px;
  top: 6px;
  left: 7px;
}

.boarding-details-PDF .path-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 0;
  left: 0;
}

.boarding-details-PDF .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 700;
  color: #132968;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  float: right;
  width: 50%;
  text-align: right;
  padding-top: 5px;
}

.boarding-details-PDF .div {
  display: block;
  position: relative;
  width: 100%;
}

.boarding-details-PDF .ticket-info {
  position: relative;
  width: 100%;
  margin: 16px 0;
}

.boarding-details-PDF .frame-3 {
  position: relative;
  width: 100%;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 8px;
}

.boarding-details-PDF .frame-4 {
  position: relative;
  float: left;
  width: 75%;
}

.boarding-details-PDF .frame-5 {
  position: relative;
  width: 100%;
}

.boarding-details-PDF .from-city {
  position: relative;
  margin-top: -1px;
  font-family:"GT Walsheim Pro", Helvetica;
  font-weight: 700;
  color: #132968;
  font-size: 18px;
  letter-spacing:0;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 8px;
}

.boarding-details-PDF .from-city-copy {
  position: relative;
  font-family: "GT Walsheim Pro", Helvetica;
  font-weight: 500;
  color: #132968;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 8px;
}

.boarding-details-PDF .from-city-copy-2 {
  position: relative;
  margin-top: -1px;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 700;
  color: #132968;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 8px;
}

.boarding-details-PDF .p {
  position: relative;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 8px;
}

.boarding-details-PDF .span {
  font-weight: 700;
  color: #fa6b6b;
}
.boarding-details-PDF .span-bold {
  font-weight: 700;
}

.boarding-details-PDF .text-wrapper-2 {
  font-family: "GT Walsheim Pro-Regular", Helvetica;
  color: #425486;
}

.boarding-details-PDF .frame-6 {
  position: relative;
  width: 100%;
}

.boarding-details-PDF .paragraph {
  position: relative;
  align-self: stretch;
  font-family: "GT Walsheim Pro-Regular", Helvetica;
  font-weight: 400;
  color: #132968;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 8px;
}

.boarding-details-PDF .ticket-print-at {
  position: relative;
  width: 104.44px;
  height: 104px;
}

.boarding-details-PDF .from-city-copy-4 {
  position: relative;
  align-self: stretch;
  font-family: "GT Walsheim Pro-Regular", Helvetica;
  font-weight: 400;
  color: #425486;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
}

.boarding-details-PDF .passenger-info {
  padding: 16px 24px;
  position: relative;
  width: 100%;
  background-color: #F5F9FD;
  border-radius: 8px;
  margin-bottom: 16px;
}

.boarding-details-PDF .from-city-copy-5 {
  position: relative;
  margin-top: -1px;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 700;
  color: #132968;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.boarding-details-PDF .frame-8 {
  display: block;
  position: relative;
  width: 100%;
  margin: 16px 0;
}

.boarding-details-PDF .from-city-copy-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "GT Walsheim Pro-Medium", Helvetica;
  font-weight: 500;
  color: #717FA4;
  font-size: 9px;
  letter-spacing: 1.2px;
  line-height: 16px;
  text-transform: uppercase;
}

.boarding-details-PDF .from-city-copy-7 {
  position: relative;
  align-self: stretch;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 700;
  color: #132968;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
}

/* start of journey table */
/* For .route-block */
.boarding-details-PDF .route-block {
  padding: 16px 24px;
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #DCDFE9;
  margin-bottom: 16px;
  /* display: table-caption; */
}

/* For .frame-9 */
.boarding-details-PDF .frame-9 {
  display: block;
  display: -moz-box;
  -webkit-box-align: start;
  -moz-box-align: start;
  position: relative;
  width: 100%;
  padding: 0 0 16px 0;
  content: "";
  display: table;
  clear: both;
}

/* For .text-wrapper-3 and .text-wrapper-4 */

.boarding-details-PDF .text-wrapper-4 {
  position: relative;
  /* font-family: "GT Walsheim Pro", Helvetica; */
  color: #132968;
  font-size: 14px;
  white-space: nowrap;
  width: auto;
  /* display: inline; */
  float: left;
  margin-right: 16px;
}

.bold{
  font-weight:700;
}
/* For .text-wrapper-4 */
.boarding-details-PDF .text-wrapper-4 {
}

/* For .SNAV */
.boarding-details-PDF .SNAV {
  position: relative;
  height: 16px;
  float: right;
  /* display: table-cell; */
  width: 50px;
}

/* For .bitmap */
.boarding-details-PDF .bitmap {
  position: absolute;
  width: 50px;
  height: 12px;
  top: 4px;
  left: 0;
}

/* For .divider-solid */
.boarding-details-PDF .divider-solid {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #DCDFE9;
  /* margin-bottom: 16px; */
}

/* For .departure-and */
.boarding-details-PDF .departure-and {
  position: relative;
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

/*start of journey-details*/
.boarding-details-PDF .journey-components-wrapper {
  position: relative;
  content: "";
  display: table;
  clear: both;
  width: 250px;
  margin-top: 16px;
}

.boarding-details-PDF .journey-components {
  display: block;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.boarding-details-PDF .time-of-travel {
  position: relative;
  float: left;
  display: inline;
  height: 86px;
}

.boarding-details-PDF .departure {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* gap: 8px; */
  position: relative;
  /* align-self: stretch; */
  width: 100%;
  /* flex: 0 0 auto; */
}

.boarding-details-PDF .text-wrapper-5 {
  position: relative;
  margin-top: 3px;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  color: #132968;
  font-size: 11px;
}

.boarding-details-PDF .text-wrapper-6 {
  position: relative;
  font-family: "GT Walsheim Pro-Regular", Helvetica;
  font-weight: 400;
  color: #717FA4;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 14px;
  margin: 21px 0;
}

.boarding-details-PDF .arrival {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.boarding-details-PDF .text-wrapper-7 {
  position: relative;
  margin-top: 0px;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 700;
  color: #132968;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 14px;
}

.boarding-details-PDF .frame-10 {
  position: relative;
  width: 20px;
  /* display: inline; */
  text-align: center;
  margin: 0 10px;
  float: left;
  height: 86px;
}

.boarding-details-PDF .img-2 {
  position: relative;
  /* width: 16px; */
  /* height: 16px; */
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 3px;
}

.boarding-details-PDF .rectangle {
  position: unset;
  width: 2px;
  background-color: #DCDFE9;
  border-radius: 4px;
  height: 48px;
  margin: 1px auto;
}

.boarding-details-PDF .dep-and-arrival {
  position: relative;
  display: inline;
  margin: 0 0 0 19px;
  float: right;
}

.boarding-details-PDF .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 700;
  color: #132968;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.boarding-details-PDF .frame-11 {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.boarding-details-PDF .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "GT Walsheim Pro-Regular", Helvetica;
  font-weight: 400;
  color: #717FA4;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.boarding-details-PDF .div-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

/* ticket code section */
.boarding-details-PDF .ticket-code {
  flex-direction: column;
  width: 129px;
  /* align-items: flex-end; */
  /* gap: 4px; */
  position: absolute;
  border-radius: 8px;
  right: 0%;
  margin: 16px 0;
  bottom: 29%;
}

.boarding-details-PDF .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  font-family: "GT Walsheim Pro-Medium", Helvetica;
  font-weight: 500;
  color: #717FA4;
  font-size: 9px;
  text-align: right;
  letter-spacing: 1.2px;
  line-height: 16px;
  padding: 0 0 8px 0;
}

.boarding-details-PDF .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 700;
  color: #132968;
  font-size: 11px;
  text-align: right;
  line-height: 16px;
}

/*end of journey comp*/

.boarding-details-PDF .footer {
  display: block;
  position: relative;
}

.boarding-details-PDF .manage-your-booking {
  width: 511px;
  position: relative;
  margin: 16px 0;
}

.boarding-details-PDF .frame-13 {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.boarding-details-PDF .from-city-copy-8 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 700;
  color: #132968;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.boarding-details-PDF .from-city-copy-9 {
  position: relative;
  width: 511px;
  font-family: "GT Walsheim Pro-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
}

.boarding-details-PDF .text-wrapper-12 {
  color: #fa6b6b;
}

.boarding-details-PDF .text-wrapper-13 {
  color: #425486;
}

.boarding-details-PDF .www-omio-com-https {
  position: relative;
  width: 511px;
  font-family: "GT Walsheim Pro-Regular", Helvetica;
  font-weight: 400;
  color: #132968;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 12px;
}

.boarding-details-PDF .text-wrapper-14 {
  font-family: "GT Walsheim Pro-Regular", Helvetica;
  font-weight: 400;
  color: #132968;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 12px;
}

.boarding-details-PDF .text-wrapper-15 {
  font-family: "GT Walsheim Pro-Bold", Helvetica;
  font-weight: 700;
}
